$color1: rgb(239, 249, 242);
$color2: rgb(47, 47, 58);
$color3: rgb(120, 161, 187);
$color4: rgb(147, 171, 185);
$color5: rgb(177, 185, 190);
$color6: rgb(86, 110, 126);

@font-face {
  font-family: 'OpenSans-Light';
  src: url('./police/OpenSans-Light.ttf') format('ttf');
}
